// COLOURS

$text-color-primary: #fff;
$text-color-secondary: rgba(255, 255, 255, 0.6);
$text-color-tertiary: rgba(255, 255, 255, 0.4);

$btn-color-secondary-blue: rgba(255, 42, 0, 0.9);
//#cc3314
$btn-color-secondary-blueVS: #003683;
$btn-color-tertiary-blue: rgba(255, 85, 51, 0.9);
$btn-color-tertiary-blueVS: #1986bb;
$btn-color-quaternary-blue: #7F9AC1;
$btn-color-secondary-red: #80362c;

$background-black: #11171a;
$background-blue-grey: #2a3840;
$background-dark-grey: #171717;
$background-grey: #1d1d1d;
$background-light-grey: #56585a;

$btn-cta-text-color: #fff;

// TYPOGRAPHY

//LOGO font: Archivo black

$btn-padding-desktop: 1rem 3rem;
$btn-padding-tablet: .75rem 2rem;
$btn-padding-mobile: .5rem 1.5rem;

$btn-font-size-desktop: 1.8rem;
$btn-font-size-tablet: 1.5rem;
$btn-font-size-mobile: 1rem;

$services-grid-padding-desktop: 2rem;
$services-grid-padding-tablet: 1.5rem;
$services-grid-padding-mobile: 1rem;

$footer-logo-icon-size: 3.2rem;

$heading-XXL-font-size-desktop: 8rem;
$heading-XXL-font-size-tablet: 6rem;
$heading-XXL-font-size-mobile: 4rem;

$parag-XL-font-size-desktop: 3rem;
$parag-XL-font-size-tablet: 2.5rem;
$parag-XL-font-size-mobile: 2rem;

$text-about-font-size-desktop: 2rem;
$text-about-font-size-tablet: 1.8rem;
$text-about-font-size-mobile: 1.5rem;

//SHAPES

$radius-desktop: 10px;
$radius-tablet: 7px;
$radius-mobile: 4px;

//MARGINS

$margin-bottom-h3-desktop: 2rem;
$margin-bottom-h3-tablet: 1.5rem;
$margin-bottom-h3-mobile: 1rem;

$margin-h2-desktop: 4rem;


//UTILITIES

$section-heading-h2-desktop: 4rem;
$section-heading-h2-tablet: 3rem;
$section-heading-h2-mobile: 2rem;
