@use "../base/base" as *;
@use "../base/utilities" as *;
@use "../abstracts/variables" as *;
@use "../base/typography" as *;
// @use "../components/icons" as *;

.footer {
    height: auto;
    width: 100%;
    background-color: $background-black;
    ;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1;
    padding-block: 2rem;
}

.footer-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    align-items: center;
    justify-items: center;
}


.footer-grid--item {
    width: 80%; 
    gap: 1rem;
    padding: 1rem;
}

.footer-grid--item1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-icons-container {
    display: flex;
    gap: 1rem;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    gap: 4rem;
    color: $text-color-tertiary;
    margin-top: 6rem;
}

