@use "../abstracts/variables" as*;


.btn{
    appearance: none;
    border: none;

    padding: $btn-padding-desktop;
    border-radius: 5px;
    font-size: $btn-font-size-desktop;
    border: 1px solid $btn-color-secondary-blue;

    &--cta{
        background-color: $btn-color-secondary-blue;
        color: $btn-cta-text-color;
        transition: all .3s ease;
        text-transform: uppercase;

        &:hover {
            background-color: $btn-color-tertiary-blue;
            cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><circle cx="11" cy="11" r="8" fill="%2300368333" stroke="white" stroke-width="2"/><line x1="17" y1="17" x2="22" y2="22" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>') 24 24, pointer;
        }
    }

    &--article {
        background-color: transparent;
        border: 1px solid $btn-color-secondary-blue;
        transition: all .3s ease;
        color: $text-color-primary;

        &:hover {
            background-color: $btn-color-secondary-blue;
            cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><circle cx="11" cy="11" r="8" fill="%2300368333" stroke="white" stroke-width="2"/><line x1="17" y1="17" x2="22" y2="22" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>') 24 24, pointer;
        }
    }
}


.btn__card{
    appearance: none;
    border: none;

    width: 100%;
    padding: $btn-padding-desktop;
    border-radius: 5px;
    font-size: $btn-font-size-desktop;
    margin-bottom: 2rem;
    font-weight: 600;
    letter-spacing: 0.1em;

    &--cta{
        background-color: $btn-color-secondary-blue;
        color: $btn-cta-text-color;
        transition: all .3s ease;
        text-transform: uppercase;

        &:hover{
            background-color: $btn-color-tertiary-blue;
            cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><circle cx="11" cy="11" r="8" fill="%2300368333" stroke="white" stroke-width="2"/><line x1="17" y1="17" x2="22" y2="22" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>') 24 24, pointer;

        }
    }
}

/*NAV MENU WIDGETS CHECKBOX WITH SLIDER*/

.switch {
    display: inline-block;
    position: relative;
    width: 6rem;
    height: 3rem;
}

.switch input {
    display: none;
}

/*šouppátko, nebo spíše jeho pozadí*/
.slider {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    background-color: $text-color-secondary;
    transition: 0.3s;
}
.slider.round {
    border-radius: 3rem;
}


/*šoupátko - kolečko*/
.slider:before {
    position: absolute;
    content: "";
    background-color: $text-color-secondary;
    height: 3rem;
    width: 3rem;
    transition: .3s;
}

.slider.round:before {
    border-radius: 50%;
    box-shadow: 0 0 2px $background-grey;
}

input:checked + .slider {
    background-color: $text-color-tertiary;
}

.switch:has(input:checked) + .cs-label {
    background-color: aqua;
}

/*pohyb šoupátka*/
input:checked + .slider:before {
    transform: translateX(3rem);
}

/*NAV ITEM CHECKBOX WITH SLIDER*/

.nav--item-switch {
    display: inline-block;
    position: relative;
    width: 6rem;
    height: 3rem;
}

.nav--item-switch input {
    display: none;
}

/*šouppátko, nebo spíše jeho pozadí*/
.nav--item-slider {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    background-color: $text-color-secondary;
    transition: 0.3s;
}
.nav--item-slider.nav--item-round {
    border-radius: 3rem;
}


/*šoupátko - kolečko*/
.nav--item-slider:before {
    position: absolute;
    content: "";
    background-color: $text-color-secondary;
    top: 0;
    left: 0;
    height: 3rem;
    width: 3rem;
    transition: .3s;
}

.nav--item-slider.nav--item-round:before {
    border-radius: 50%;
    box-shadow: 0 0 2px $background-grey;

}

input:checked + .nav--item-slider {
    background-color: $text-color-tertiary;
}

/*pohyb šoupátka*/
input:checked + .nav--item-slider:before {
    transform: translateX(3rem);
}


