.header {
    position: relative;
    height: 100vh;
    overflow: hidden;

    &--hero-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: 0;
    }
}

.publishing-page--hero-video,
.publishing-page--hero-video video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 64rem){

    .header--hero-video {
        object-fit: fill;
    }
}