@keyframes dropDown {
    0%{
        opacity: 0;
        transform: translateY(-200%);
    }
    
    25%{
        opacity: .2;
    }

    75%{
        opacity: .5;
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-30%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(20%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideDown {
    0%{
        opacity: 0;
        transform: translateY(-200%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    65% {
        opacity: .1;
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

