//RESET

// Apply border-box sizing to all elements
*, *::before, *::after {
    box-sizing: border-box;
  }
  
// Remove default margins and padding, inherit fonts
* {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
// Ensure the body covers the full viewport height
body {
    min-height: 100vh;
  }
  
// Make media elements responsive
img, picture, svg, video {
    display: block;
    max-width: 100%;
  }

html{
  scroll-behavior: smooth;
}

  