@use "../abstracts/variables" as *;
@use "../abstracts/functions" as fn;

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');



html{
    font-size: 62.5%;
}

body{
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    color: $text-color-primary;
    background-color: $background-black;
}

h1, h2, h3 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

strong {
    font-weight: 700;
}

em {
    font-weight: 700;
}

.logo--font-size-u{
    font-family: "Exo 2", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $text-color-primary;
}

a{
    color: $text-color-primary;
    text-decoration: none;
    text-transform: uppercase;
}

.nav{

    &--menu{
        display: flex;
    }

    &--item{
        list-style-type: none;
        margin-right: 4rem;
    }

    &--link{
        font-size: 1.5rem;
    }
}

.header__container{
    
    &--heading{
        
        &-main-left{
            font-size: fn.fluid(3.5rem, 6rem);
            font-weight: 700;
            color: $text-color-primary;
        }

        &-main-right{
            font-size: fn.fluid(3.5rem, 6rem);
            font-weight: 700;
            color: $text-color-primary;
        }

        &-sub{
            font-size: fn.fluid(1.6rem, 2rem);
            font-weight: 400;
            color: $text-color-secondary;
        }
    }
    
}

//SERVICES


.services__grid--heading {
    font-size: fn.fluid(2.2rem, 3rem);
    font-weight: 500;
    margin-bottom: $margin-bottom-h3-desktop;
    border-left: 3px solid $btn-color-secondary-blue;
    padding-left: 1.2rem;
}

.services__grid--content {
    font-size: 1.5rem;
    font-weight: 400;
}

//CARD

.card-heading{
    font-size: fn.fluid(2.2rem, 3rem);
    font-weight: 500;
    margin-bottom: $margin-bottom-h3-desktop;
}

.card-subheading{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: $margin-bottom-h3-desktop
}

// FOOTER

.logo--font-size-footer {
    font-family: "Exo 2", sans-serif;
    font-size: $footer-logo-icon-size;
    font-weight: 700;
    text-transform: uppercase;
    color: $footer-text-primary;
}
.footer a {
    color: $footer-text-secondary;
    transition: color 0.3s ease;
    &:hover {
        color: $footer-text-primary;
    }
}

.footer h4 {
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: underline;
    color: $footer-text-primary;
}

//ARTICLE

.article-page--content-p a, .other-paragraphs a {
    text-transform: lowercase;
    text-decoration: underline;
}

.article-page--content-resources-list a {
    text-transform: lowercase;
    text-decoration: underline;
}


//BREAKPOINTS MOBILE

@media screen and (max-width: 40rem) {
    .nav{

        &--item{
            text-align: center;
        }
    }
}



