@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/typography" as *;
@use "../base/utilities" as *;



.article-page--heading {
    @include heading-XXL;
    text-align: left;
    margin-bottom: $margin-h2-desktop;
    color: $text-color-primary;
}

.article-page--subheading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: $margin-bottom-h3-desktop;
}

.article-page--subheading {
    @include parag-XL;
    text-align: center;
    color: $text-color-secondary;
    margin-bottom: 6rem;
}

.article-page--features {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.article-page--content-grid {
    width: 70%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.article-page--content-img {
    grid-column: 1 / 3;
    border-radius: $radius-desktop;
    // margin-bottom: 4rem;
}

.first-paragraph {
    grid-column: 3 / 5;
}

.other-paragraphs {
    grid-column: 1 / 5;
}

.article-page--content {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.article-page--content-p {
    color: $text-color-secondary;
    line-height: 2;
    letter-spacing: 0.02rem;
    font-size: 1.8rem;
}

.article-page--content-subheading {
    grid-column: 1 / 5;
    color: $text-color-primary;
    text-transform: uppercase;
    font-size: 2rem;
}

.article-page--content-resources {
    grid-column: 1 / 5;
    margin-top: 2rem;
}

.article-page--content-resources-list {
  list-style-type: none;
  padding-left: 0; /* Optional: removes default indentation */
  color: $text-color-secondary;
  font-size: 1.6rem;
}

.line-through{
    text-decoration: line-through;
}

@media screen and (max-width: 48rem) {
    .article-page--content-grid {
        width: 100%;
    }

    .article-page--content {
        width: 100%;
    }

    .article-page--heading {
    @include heading-XXL-mobile;
    }
    .article-page--subheading {
    @include parag-XL-mobile;
    }



    .article-page--content-p {
    color: $text-color-secondary;
    line-height: 1.6;
    letter-spacing: 0;
    font-size: 1.6rem;
    }
}

@media screen and (max-width: 40rem){
    .article-page--content-resources-list {
        font-size: 1.4rem;
        word-wrap: break-word;
    }
}


@media screen and (max-width: 80rem) {
    .article-page--content-grid {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 3rem;
    }

    .article-page--content {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    .article-page--content-img {
        grid-column: 1 / 2;
    }

    .first-paragraph {
        grid-column: 1 / 2;
    }
}
