@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/typography" as *;
@use "../base/utilities" as *;

.contact {
    height: auto;
    width: 100%;
    background-color: $background-black;
    z-index: 1;
    padding-block: 8rem;
}
