@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/typography" as *;
@use "../base/utilities" as *;

.about {
    height: 100%;
    width: 100%;
    background-color: $background-black;
    padding-block: 8rem;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    &__grid {
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        // grid-template-rows: 1fr 1fr; 
        grid-auto-rows: auto;
        gap: 5rem 1rem; 
        grid-template-areas: 
            "provider headline headline"
            "labels text text";
        
        &--content{
            // width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 2rem;

            &-paragraph{
                color: $text-color-primary;
                font-size: $text-about-font-size-desktop;
                font-weight: 400;
            }
        }
    }

}

.provider { 
    grid-area: provider;
}

.headline {
    grid-area: headline;
}

.text {
    grid-area: text;
}

.labels {
    grid-area: labels;
}

.labels {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.label-tag{
    min-width: fit-content;
    max-width: 30%;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: $background-light-grey;
    color: $text-color-secondary;
    border-radius: $radius-desktop;
    letter-spacing: .4rem;
}


// MOBILE

@media screen and (max-width: 38rem) {
    .about {
        &__grid {
            grid-template-columns: 1fr; 
            grid-template-areas: 
                "provider"
                "labels"
                "headline"
                "text";

                &--content-paragraph {
                    font-size: $text-about-font-size-mobile;
                }
        }
    }

    .label-tag{
        width: fill-content;
    }
}