@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/typography" as *;
@use "../base/utilities" as *;

.price{
    height: auto;
    width: 100%;
    background-color: $background-black;
    z-index: 1;
    padding-block: 8rem;
    

    &-grid{
        display: grid;
        // grid-template-rows: 1fr;
        grid-template-columns: repeat(auto-fit, minmax(20rem,1fr)); 
        gap: 2rem;
        place-items: center;
    }
}


