@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/typography" as *;
@use "../base/utilities" as *;

.publishing{
    height: auto;
    width: 100%;
    background-color: $background-black;
    padding-block: 8rem;
}

.blog-grid{
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
    grid-template-areas:
    "text-col img-col";
}

.img-overlay-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.blog-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: $radius-desktop;
}


.img-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.blog-img{
    object-fit: cover;
}

.img-col{
    grid-area: img-col;
}

.text-col{
    grid-area: text-col;
    
}

.text-container {
    display: flex;
    flex-direction: column;
    &--btn{
        align-self: start;
        margin-top: 4rem;
    }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.blog-slider {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.swiper-pagination-bullet{
  background: $btn-color-secondary-blue !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: $btn-color-secondary-blue !important;
  fill: $btn-color-secondary-blue !important;
}


// MOBILE

@media screen and (max-width: 40rem) {
    .publishing{
        padding-block: 4rem;
    }
    .blog-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        "text-col"
        "img-col";
    }
}
