@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/typography" as *;

@use "../components/buttons" as *;
//layout?

.services{
    height: auto;
    width: 100%;
    background-color: $background-black;
    z-index: 1;
    // position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__grid {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        grid-auto-flow: row;
        grid-template-areas:
            "firstL grid-img firstR"
            "secondL grid-img secondR"
            "thirdL grid-img thirdR"
            "fourthL grid-img fourthR";

        &--grid-img img { 
            //property grid-area is set on child element's class!
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            display: block; //Removes inline spacing from image
        }

        &--firstL { 
            grid-area: firstL; 
            color: $text-color-primary;
            @include gridCard;
        }

        &--secondL { 
            grid-area: secondL;
            color: $text-color-primary;
            @include gridCard; 
        }

        &--thirdL { 
            grid-area: thirdL;
            color: $text-color-primary;
            @include gridCard;
        }

        &--fourthL { 
            grid-area: fourthL;
            color: $text-color-primary;
            @include gridCard;
        }

        &--firstR { 
            grid-area: firstR;
            color: $text-color-primary;
            @include gridCard;
        }

        &--secondR { 
            grid-area: secondR;
            color: $text-color-primary;
            @include gridCard; 
        }

        &--thirdR { 
            grid-area: thirdR;
            color: $text-color-primary;
            @include gridCard;
        }

        &--fourthR { 
            grid-area: fourthR;
            color: $text-color-primary;
            @include gridCard;
        }
    }
}

.services__grid--grid-img {
    grid-area: grid-img;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
    display: flex;
    border-radius: $radius-desktop;
}


.services__grid > .services__grid--firstL:hover,
.services__grid > .services__grid--secondL:hover,
.services__grid > .services__grid--thirdL:hover,
.services__grid > .services__grid--fourthL:hover,
.services__grid > .services__grid--firstR:hover,
.services__grid > .services__grid--secondR:hover,
.services__grid > .services__grid--thirdR:hover,
.services__grid > .services__grid--fourthR:hover {
  box-shadow: 0 8px 25px 0 rgba(255,42,0,0.5), 0 1.5px 8px 0 rgba(255,255,255,0.10);
  transform: translateY(-4px) scale(1.03);
  z-index: 2;
}



// MOBILE                 

@media screen and (max-width: 40rem) {

    .services{
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        padding: $services-grid-padding-mobile;
        &__grid {
            width: 100%;
            max-width: 100%;
            overflow-x: hidden;
            grid-template-columns: 1fr;
            grid-auto-rows: 1fr;
            grid-template-rows: repeat(9, 1fr);
            
            grid-template-areas:
                "firstL"
                "secondL"
                "thirdL"
                "fourthL"
                "grid-img"
                "firstR"
                "secondR"
                "thirdR"
                "fourthR";
            gap: 1.5rem 1.5rem;

            &--grid-img img {
                width: 100%;
                max-width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                border-radius: $radius-mobile;
            }

            &__grid > * {
                height: 100%;
            }
        }    
    }
}

// TABLET

@media screen and (max-width: 50rem) and (min-width: 41rem) {
    .services{
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        padding: $services-grid-padding-tablet;
        &__grid {
            width: 100%;
            max-width: 100%;
            overflow-x: hidden;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
            grid-template-rows: repeat(4, auto);
            grid-template-areas:
                "firstL firstR"
                "secondL secondR"
                "grid-img grid-img"
                "thirdL thirdR";
            gap: 1.5rem 1.5rem;

            &--grid-img img {
                width: 100%;
                max-width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                border-radius: $radius-tablet;
            }

            &__grid > * {
                height: 100%;
            }
        }    
    }
}